// main.styl
@import '~vuetify/src/stylus/main' // Ensure you are using stylus-loader

@import '~vuetify/src/stylus/theme.styl'

$material-light.background = #fff

@import '~vuetify/src/stylus/main.styl'
// src/assets/stylus/main.styl

$color-pack = false

